<form [formGroup]="schedulerForm" class="mt-3">
    <div>
        <div class="row mt-2">
            <div class="col-md-4 col-lg-4">
                <label class="fw-bold mb-2"> Manufacturing Line
                    <span class="text-danger"> * </span>
                </label>
                <div>
                    <mat-form-field class="w-100">
                        <mat-select formControlName="line_id" (selectionChange)="selectedLine()">
                            <mat-option value=""> Select Manufacturing Line</mat-option>
                            <mat-option class="custom-select" *ngFor="let line of manufacturingLine; let i = index"
                                [value]="line.line_id" (click)="getselectedLine(line.line_name)">
                                {{line.line_name}}
                                <img [src]="line.ping ? 'assets/SVG/red-pin.svg' :  'assets/SVG/unpin.svg' "
                                    *ngIf="!isDarkTheme" height="15px" class="me-2" id="unpin_ligth"
                                    (click)=" openPinDialog(line.ping, i ,line.line_name)" alt="pinIcon" />

                                <img [src]="line.ping ? 'assets/SVG/red-pin.svg' :  'assets/SVG/unpin_dark.svg' "
                                    *ngIf="isDarkTheme" height="15px" class="me-2" id="unpin_dark"
                                    (click)=" openPinDialog(line.ping, i ,line.line_name)" alt="pinIcon" />
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-4 col-lg-4" *ngIf="f['line_id'].value && isRunscriptflag">
                <div class="ms-3">
                    <label class="fw-bold mb-2">Upload file ?
                    </label>
                    <div class="mt-2">
                        <mat-radio-group aria-label="Select an option" formControlName="uploadFileOption">
                            <mat-radio-button value="yes" (change)="isFileUpload($event)" class="me-4">Yes
                            </mat-radio-button>
                            <mat-radio-button value="no" (change)="isFileUpload($event)">No</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-lg-4" *ngIf="favoriteLines && favoriteLines.length > 0 && f['line_id'].value">
                <div class="d-flex justify-content-end">
                    <div class="text-end" *ngFor="let lines of favoriteLines">
                        <div *ngIf="f['line_id'].value === lines['line_id']">
                            <button mat-raised-button color="warn" class="m-2 rounded-pill fav"
                                (click)="favoriteBtnClick(lines )">{{lines['line_name']}}</button>
                        </div>
                        <div *ngIf="f['line_id'].value !== lines['line_id']">
                            <button mat-stroked-button color="warn" class="m-2 rounded-pill fav"
                                (click)="favoriteBtnClick(lines)">{{lines['line_name']}}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row align-items-center" *ngIf="isfileSelected && f['line_id'].value
        && f['uploadFileOption'].value == 'yes'">
            <div class="col-md-4 col-lg-4">
                <div class="d-flex align-items-center mb-2">
                    <label class="fw-bold me-25">Upload Supporting Files
                    </label>
                    <mat-icon [matTooltipClass]="'my-tooltip'" [matTooltipPosition]="'right'"
                        matTooltip="Please fill the same file which has been downloaded from 'Download Template' section and upload.">
                        info</mat-icon>
                </div>
                <app-file-upload [componentName]="'scheduler'" [mfLine]="f['line_name'].value"></app-file-upload>
            </div>
            <div class="col-md-4 col-lg-8">
                <label class="fw-bold mb-2">
                </label>
                <div class="d-flex align-items-start justify-content-between flex-column ps-3">
                    <a href="javascript:void(0)" class="d-block" (click)="downloadExcel()">
                        Download Template
                    </a>
                </div>
            </div>
        </div>

        <div class="row align-items-center" *ngIf="!isfileSelected && f['line_id'].value
        && f['uploadFileOption'].value == 'no'">
            <div class="col-md-4 col-lg-4">
                <div class="d-flex align-items-center mb-2">
                    <label class="fw-bold me-25">Job Number
                    </label>
                    <mat-icon [matTooltipClass]="'my-tooltip'" [matTooltipPosition]="'right'" class="ml-2"
                        matTooltip="If you are entering multiple job, please enter Job Number separated by comma.">
                        info</mat-icon>
                </div>
                <mat-form-field class="example-chip-list" appearance="fill">
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let job of jobNumber" (removed)="removeJobLine(job)" md-separator-keys=",">
                            {{job}}
                            <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip>
                        <input placeholder="New job" [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addJobLine($event)" (keyup.enter)="enablerunscript($event)">
                    </mat-chip-list>
                </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-8">
                <button [disabled]="!runscripflag" mat-raised-button color="warn" (click)="runScript()"
                    class="m-2 rounded-pill">RUN
                    SCRIPT</button>
            </div>
        </div>

        <div class="row mt-2" *ngIf="f['line_id'].value">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="position-relative">
                        <app-filter (filterData)="filterData($event)" [componentName]="'scheduler'">
                        </app-filter>
                    </div>
                    <div class="position-relative d-flex">
                        <img matTooltip="Export To Excel" src="assets/SVG/file_upload.svg" alt="Export-excel"
                            class="mx-3" style="cursor: pointer;" (click)="exportBtnClick('export-to-excel')">
                        <img matTooltip="Export To Mail" src="assets/SVG/exportEmail.svg" alt="Export-mail" class="mx-3"
                            style="cursor: pointer;" (click)="exportBtnClick('export-to-email')">
                        <mat-icon matTooltip="Refresh Table" (click)="refreshTable()" class="mx-2" style=" cursor: pointer;
                            font-size: 33px;">
                            refresh
                        </mat-icon>
                        <img matTooltip="Lock"
                            *ngIf="isAccessflag && (schedulerForm.value['is_module'] || schedulerForm.value['is_canning'])"
                            src="assets/SVG/lock.svg" alt="Lock" class="mx-3" (click)="saveData('lock')"
                            style="cursor: pointer;">
                        <img matTooltip="Delete" *ngIf="isAccessflag" src="assets/SVG/delete.svg" alt="Delete"
                            class="mx-3" style="cursor: pointer;" (click)="saveData('delete')">
                        <img matTooltip="Save" *ngIf="isAccessflag" src="assets/SVG/save.svg" alt="Save" class="mx-3"
                            style="cursor: pointer;" (click)="saveData('save')">
                        <img matTooltip="Run Script" src="assets/SVG/runscript.svg" alt="runScript"
                            *ngIf="isRunscriptflag && (schedulerForm.value['is_module'] || schedulerForm.value['is_canning'])"
                            class="mx-3" style="cursor: pointer;" (click)="runscriptFromdata()">
                        <img matTooltip="Publish" src="assets/SVG/publish.svg" alt="Publish" class="mx-3"
                            style="cursor: pointer;" (click)="saveData('publish')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row mt-2" *ngIf="f['line_id'].value">
    <div class="col-12" *ngIf="schedulerTableForm">

        <form [formGroup]="schedulerTableForm">
            <div class="table-container scrollContent" #keywordsInput  cdkScrollable>
                <table mat-table [dataSource]="dataSource" #myTable formArrayName="tableData"
                    class="border cal_input_table mat-elevation-z8" matSort (matSortChange)="sortData($event)"
                    [matSortActive]="f['sortKey'].value" [matSortDirection]="f['sortType'].value" matSortDisableClear
                    aria-describedby="scheduler">

                    <ng-container *ngIf="(newtableData['routes'] || newtableData['routes']?.length > 0)"
                        matColumnDef="select" class="checkcolumn" sticky>

                        <th mat-header-cell *matHeaderCellDef id="check">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <tr style="display: flex;">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                </mat-checkbox>
                                <mat-icon
                                    *ngIf="row.created_by==null && row.lock==1 && row.is_runscript==0 && (schedulerForm.value['is_module'] || schedulerForm.value['is_canning'])"
                                    class="lockjob">lock
                                </mat-icon>
                                <mat-icon
                                    *ngIf="row.created_by==null && row.lock==0 && row.is_runscript==0 && (schedulerForm.value['is_module'] || schedulerForm.value['is_canning'])"
                                    class="lockjob">
                                    lock_open</mat-icon>
                            </tr>
                        </td>
                    </ng-container>

                    <ng-container *ngFor="let column of newtableData['col'] ; ">

                        <ng-container *ngIf="column.columnDef === 'job_num' ||
                        column.columnDef === 'ces_part_num' ||
                        column.columnDef === 'inlet_ces_part_num' ||
                        column.columnDef === 'filter_ces_part_num' ||
                        column.columnDef === 'mixer_ces_part_num' ||
                        column.columnDef === 'outlet_ces_part_num' ||
                        column.columnDef === 'ces_part_num_catmod'">
                            <ng-container [matColumnDef]="column.columnDef" sticky>

                                <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnHeader" [ngStyle]="{'padding': (column.columnDef === 'job_num' && newtableData['routes']?.length == 0)
                                     ? '19px' : null }">
                                    {{column.header}}
                                </th>

                                <td mat-cell *matCellDef="let element ; let i = index;" [formGroupName]="i" class="ces">

                                    <div *ngIf="schedulerForm.value['is_parent']">
                                        <span>
                                            {{element[column.columnDef]}}
                                        </span>
                                    </div>

                                    <div *ngIf="schedulerForm.value['is_module'] || schedulerForm.value['is_canning'] ">
                                            <span
                                            *ngIf="(column.columnDef !== 'job_num' && element[column.columnDef] &&
                                            element[column.columnDef] != null && element[column.columnDef] != '' && 
                                            element[column.columnDef] != undefined)">
                                            {{element[column.columnDef]}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'job_num'">
                                            <mat-form-field>
                                                <input matInput type="text" formControlName="job_num"  [value]=element[column.columnDef] >
                                            </mat-form-field>
                                        </span>

                                    </div>

                                </td>

                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="column.columnDef !== 'job_num' && 
                        column.columnDef !== 'ces_part_num' &&
                        column.columnDef !== 'filter_ces_part_num' &&
                        column.columnDef !== 'mixer_ces_part_num' &&
                        column.columnDef !== 'outlet_ces_part_num' &&
                        column.columnDef !== 'inlet_ces_part_num' &&
                        column.columnDef !== 'ces_part_num_catmod' ">
                            <ng-container [matColumnDef]="column.columnDef">

                                <th mat-header-cell *matHeaderCellDef mat-sort-header id="columnHeader">
                                    {{column.header}}
                                </th>

                                <td mat-cell *matCellDef="let element ; let i = index;" [formGroupName]="i">

                                    <div *ngIf="schedulerForm.value['is_parent']">

                                        <span *ngIf="column.columnDef !== 'comments' &&
                                        column.columnDef !== 'drive_dependent_demand' && 
                                        column.columnDef !=='order_no' &&
                                        column.columnDef !== 'customer_due_date' &&
                                        column.columnDef !== 'run_date' &&
                                        column.columnDef !== 'customer_partno'&&
                                        column.columnDef !== 'mixer_partno' && 
                                        column.columnDef !== 'inlet_catmod' &&
                                        column.columnDef !== 'outlet_catmod' &&
                                        column.columnDef !== 'filter_catmod' &&
                                        column.columnDef !== 'firsttime_runner' &&
                                        column.columnDef !== 'part_description'">
                                            {{element[column.columnDef]}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'part_description'"
                                         class="part" [matTooltip]="element['part_description']">
                                            {{element[column.columnDef]}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'firsttime_runner'">
                                            {{element[column.columnDef] ? 'Yes' : 'No'}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'run_date'" class="ces">
                                            {{element[column.columnDef] | date: 'MM-dd-yyyy'}}
                                        </span>

                                        <span *ngIf="column.columnDef == 'comments'">

                                            <mat-form-field>
                                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                    maxlength="4000" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                                    formControlName="comments">
                                            </textarea>
                                            </mat-form-field>
                                        </span>

                                        <span *ngIf="column.columnDef == 'drive_dependent_demand'">
                                            <mat-form-field class="w-75">
                                                <mat-select #matSelect='matSelect'
                                                    formControlName="drive_dependent_demand">
                                                    <mat-option *ngFor="let drive of driveDropdown;"
                                                        [value]="drive.value">
                                                        {{drive.label}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </span>

                                        <span *ngIf="column.columnDef == 'customer_due_date'">
                                            <mat-form-field appearance="legacy" class="no-border calender-input">
                                                <input matInput [matDatepicker]="picker1"
                                                    formControlName="customer_due_date">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"
                                                    class="no-border calender-input">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>

                                        </span>

                                        <span
                                            *ngIf="schedulerForm.value['line_name'] === 'HHP' && column.columnDef == 'customer_partno'">
                                            <mat-form-field class="w-75">
                                                <input matInput type="tetx" min="0" formControlName="customer_partno">
                                            </mat-form-field>
                                        </span>

                                        <span
                                            *ngIf=" schedulerForm.value['line_name'] != 'HHP' && column.columnDef == 'customer_partno'">
                                            <mat-form-field class="w-75">
                                                {{element[column.columnDef]}}
                                            </mat-form-field>
                                        </span>

                                        <span
                                            *ngIf="schedulerForm.value['line_name'] === 'Proto' && (column.columnDef == 'mixer_partno'||
                                            column.columnDef == 'order_no' || column.columnDef == 'inlet_catmod' || column.columnDef == 'outlet_catmod'||column.columnDef == 'filter_catmod')">
                                            <mat-form-field class="w-75" *ngIf="column.columnDef !== 'order_no'">
                                                <input matInput type="tetx" [formControlName]="column.columnDef">
                                            </mat-form-field>
                                            <mat-form-field class="w-75" *ngIf="column.columnDef == 'order_no'">
                                                <input matInput type="number" [formControlName]="column.columnDef">
                                            </mat-form-field>
                                        </span>

                                        <span
                                            *ngIf="schedulerForm.value['line_name'] != 'Proto' && ( column.columnDef == 'order_no' || column.columnDef == 'mixer_partno'|| column.columnDef == 'inlet_catmod' || column.columnDef == 'outlet_catmod'||column.columnDef == 'filter_catmod')">
                                            {{element[column.columnDef]}}
                                        </span>

                                    </div>

                                    <div *ngIf="schedulerForm.value['is_module']">

                                        <span *ngIf="column.columnDef !== 'comments' &&
                                        column.columnDef !== 'drive_dependent_demand' && 
                                        column.columnDef !== 'customer_due_date' &&
                                        column.columnDef !== 'job_num' &&
                                        column.columnDef !== 'run_date_service' &&
                                        column.columnDef !== 'run_date' &&
                                        column.columnDef !== 'firsttime_runner' &&
                                        column.columnDef !== 'part_description'">
                                            {{element[column.columnDef]}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'part_description'"
                                         class="part" [matTooltip]="element['part_description']">
                                            {{element[column.columnDef]}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'firsttime_runner'">
                                            {{element[column.columnDef] ? 'Yes' : 'No'}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'run_date' ||
                                        column.columnDef == 'run_date_service' " class="ces">
                                            {{element[column.columnDef] | date: 'MM-dd-yyyy'}}
                                        </span>

                                        <span *ngIf="column.columnDef == 'comments'">
                                            <mat-form-field>
                                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                    maxlength="4000" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                                    formControlName="comments">
                                            </textarea>
                                            </mat-form-field>
                                        </span>

                                        <span *ngIf="column.columnDef == 'drive_dependent_demand'">
                                            <mat-form-field class="w-75">
                                                <mat-select #matSelect='matSelect'
                                                    formControlName="drive_dependent_demand">
                                                    <mat-option *ngFor="let drive of driveDropdown;"
                                                        [value]="drive.value">
                                                        {{drive.label}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </span>

                                        <span *ngIf="column.columnDef == 'customer_due_date'">
                                            <mat-form-field appearance="legacy" class="no-border">
                                                <input matInput [matDatepicker]="picker1"
                                                    formControlName="customer_due_date">
                                                <mat-datepicker-toggle matSuffix [for]="picker1" class="no-border">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </span>
                                    </div>

                                    <div *ngIf="schedulerForm.value['is_canning']">

                                        <span *ngIf="column.columnDef !== 'comments' &&
                                        column.columnDef !== 'customer_due_date' &&
                                        column.columnDef !== 'job_num' &&
                                        column.columnDef !== 'run_date' && 
                                        column.columnDef !== 'part_description' ">
                                            {{element[column.columnDef]}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'part_description'"
                                         class="part" [matTooltip]="element['part_description']">
                                            {{element[column.columnDef]}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'firsttime_runner'">
                                            {{element[column.columnDef] ? 'Yes' : 'No'}}
                                        </span>
                                        <span *ngIf="column.columnDef == 'run_date'" class="ces">
                                            {{element[column.columnDef] | date: 'MM-dd-yyyy'}}
                                        </span>

                                        <span *ngIf="column.columnDef == 'comments'">
                                            <mat-form-field>
                                                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                                                    maxlength="4000" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                                                    formControlName="comments">
                                            </textarea>
                                            </mat-form-field>
                                        </span>

                                        <span *ngIf="column.columnDef == 'customer_due_date'">
                                            <mat-form-field appearance="legacy" class="no-border">
                                                <input matInput [matDatepicker]="picker1"
                                                    formControlName="customer_due_date">
                                                <mat-datepicker-toggle matSuffix [for]="picker1" class="no-border">
                                                </mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </span>

                                    </div>
                                </td>
                            </ng-container>
                        </ng-container>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="tableColumns;sticky : true"></tr>
                    <tr mat-row *matRowDef="let element; let i = index; columns: tableColumns;" [formGroupName]="i">
                    </tr>
                </table>

                <ng-container
                    *ngIf="norecord && (f['line_id'].value &&( !newtableData['routes'] || newtableData['routes']?.length == 0))">
                    <span class="text-danger m-5" style="display: block; text-align: center;">
                        No records found
                    </span>
                </ng-container>

            </div>
        </form>
    </div>
</div>