<div class="mt-2">
        <div class="d-flex align-items-center justify-content-between">
                <div>
                        <h2>Sample Shop</h2>
                </div>
        </div>
        <div class="position-relative d-flex align-items-center justify-content-between">
                <app-filter (filterData)="filterData($event)" [componentName]="'Proto'">
                </app-filter>
                <div>
                        <img matTooltip="Download Template" src="assets/SVG/download.svg" alt="Download Template"
                                class="mx-3" style="cursor: pointer;" (click)="downloadExcel()">
                        <img matTooltip="Upload" src="assets/SVG/upload.svg" alt="Upload" class="mx-3"
                                style="cursor: pointer;" (click)="openFileUpload()">
                        <img matTooltip="Add" src="assets/SVG/addData.svg" alt="add" class="mx-3"
                                style="cursor: pointer;" (click)="openDialog()">
                </div>
        </div>
        <app-master-common-table (deleteData)="deleteProtoData($event)" (dataSort)="sortProtoChange($event)"
                [totalRecords]="totalRecords" [columns]="columns" [dataset]="dataSource" [componentName]="'Proto'"
                [defaultShortKey]="{ id: 'last_updated_date', start: 'desc'}" [currentPageSize]="currentPageSize"
                (emitPagesValue)="emitPagesValue($event)">
        </app-master-common-table>
</div>