<div class="sign-in-container">
  <div class="card loginCard">
    <div class="card-header">
      <figure>
        <img src="assets/Images/LoginLogo.png" alt="icon">
      </figure>
    </div>
    <div class="card-body">
      <div class="card-custom-title">
        <span class="welcome">Welcome to Cummins</span>
        <h1>Let’s sign you in</h1><br>
      </div>
      <div class="card-custom-btn">
        <button value="internalUser" class="mat-focus-indicator mat-raised-button mat-button-base w-100"
          (click)="Login()">
          <span class="mat-button-wrapper p-3">LOGIN</span></button>
      </div>
    </div>
    <div class="card-footer">
      <p><span>
          <a href="http://www.cummins.com/website-privacy-policy" target="_blank" rel="noopener">
            Privacy Policy
          </a>
        </span>
        <span>
          <a href="http://www.cummins.com/terms-and-conditions" target="_blank" rel="noopener">.
            Terms of Use
          </a>
        </span>
      </p>
    </div>
  </div>
</div>