<div class="row">
    <div class="col-md-12">
        <div class="main-container sticky-tab child-tab">
            <ul class="list-group list-group-horizontal border-bottom ps-4">
                <li class="list-group-item" *ngFor="let menuTitle of subMenu ; let i = index"
                    (click)="activeTab(i ,menuTitle)" [ngClass]="i == currentTabIndex ? 'active' : '' ">
                    {{menuTitle.sub_menu}}
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12 mb-5">
                <mat-card>
                    <router-outlet></router-outlet>
                </mat-card>
            </div>
        </div>
    </div>
</div>