<footer class="mt-5">
    <div class="CMI-globalFooter container-fluid">
        <div class="bottom-footer row">
            <div class="col-md-6">
                <span class="copyright">© {{this.year}} Cummins Inc | Powered by Cummins GDC </span>
            </div>
            <div class="col-md-6">
                <div class="text-end">
                    <span class="m-1"><a class="CMI-globalFooterLinks privacy"
                            href="http://www.cummins.com/terms-and-conditions" target="_blank" rel="noopener">
                            Terms of Use </a></span>
                    <span class="m-1"><a class="CMI-globalFooterLinks privacy"
                            href="http://www.cummins.com/website-privacy-policy" target="_blank" rel="noopener">
                            Privacy Policy </a>&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
</footer>