.add-container{
    top: 399px;
    left: 389px;
    width: 950px;
    height: 250px;
}
.addLaserMd{
    width: 100%;
}
label{
    white-space: nowrap;
    word-wrap: break-word;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font-weight: bold;
    font-size: 16px/20px;
    font-family: 'Helvetica Neue', sans-serif !important;
}
input{
    margin-top: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 18px; 
}
button{
        margin: 10px;
        left: 5px;
    }
    ::ng-deep.dark-theme input {
        background: #111111;
    }