<div class="mt-2">
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h2>Location Master Data</h2>
        </div>
        <div>
            <img matTooltip="Add" src="assets/SVG/addData.svg" alt="add" class="mx-3" style="cursor: pointer;"
                (click)="openDialog()">
        </div>
    </div>

    <app-master-common-table (dataSort)="sortChange($event)" (deleteData)="deleteData($event)"
        [totalRecords]="totalRecords" [columns]="columns" [dataset]="dataSource" [componentName]="'LocationData'"
        [defaultShortKey]="{ id: 'last_updated_date', start: 'desc'}" [currentPageSize]="currentPageSize"
        (emitPagesValue)="emitPagesValue($event)">
    </app-master-common-table>
</div>