<div class="header fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <mat-toolbar>
                    <mat-toolbar-row>
                        <span class="brand-name">
                            <img src="assets/Images/logo1.png" alt="icon"/>
                        </span>
                        <span class="example-spacer"></span>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
        </div>
    </div>
</div>

<div class="authenticating">
    <h1>Authenticating...</h1>
</div>
